.board{
    margin-top: 1rem;
    background-color: rgb(155, 153, 153);
    align-items: center;
    display:flex;

}

.heading1{
    font-weight: 400;
    font-size: 3rem;
    transform: rotate(90deg) translateX(-350%) translateY(-25%);
    margin: 0;
    width: 2rem;

}

.heading2{
    font-weight: 400;
    font-size: 3rem;
    transform: rotate(-90deg) translateX(-350%) translateY(-25%);
    width: 2rem;
}

.one_card{
    cursor: pointer;
}

.grids{
    display: grid;
}

.cards, .token_grid{
    grid-row:1;
    grid-column:1;
}

.cards{
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    place-items: center;
    margin-top: 0;
    gap: 5px;
}

.token_grid{
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    place-items: center;
    z-index: 999;
}

.token{
    width: 4rem;
    cursor: pointer;
}

.token-row{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}


@media (min-width: 1530px){
    .board{
        width: 768px;
        /* padding-right: 1.5rem; */
    }
}